<!DOCTYPE HTML>
<html>
	<head>
		<title>FileClub</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/main.css') }}" />
	</head>

	<body style="background-size: 100% 100%; background-position: center; height: 100%; background-repeat: no-repeat; background-image:url({{url_for('static',filename='img/success.png')}})" >
			<header style="color: white;margin:auto;">
			
				<h1>You did it , but is it the end?</h1>
				<a href="/">Go back</a>
			</header>

	</body>
</html>
